<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4 name">
        <div >
            <img src="../../../assets/foto_perfil3.jpg" alt="">
        </div>
        <div >
            <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
            <p>Full Stack Developer Jr. </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi </h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur quam quibusdam necessitatibus dolore
                quo, porro odio soluta harum aut. Cum laboriosam aspernatur, nisi tempore voluptas fuga temporibus quae
                fugiat quam!
            </p>
        </span>
    </div>
</div>