*{
    padding: 0;
    margin: 0;
}
.row{

    text-align: center;
    align-items: center;
    color: white;
    margin: 2rem 2rem;

}
img{
   width: 250px;
    height:200px;
    border-radius: 50%;
    
}
#nombre{
    font-weight: bold;
}
.name{
    width: 400px;
}