*{
    padding: 0;
    margin: 0;
}
img{
    width: 3rem;
    margin-right: 0.5rem;

}
button{
    margin: 0 1rem 0 0.5rem;

}
@media (max-width: 577px){
    img{
        width: 1.5rem;
        margin-top: 0;
        margin-right: 0.5rem;

    }
}