*{
    padding: 0;
    margin: 0;
}
.row{

    color: white;
}
.contenedor{
    margin-bottom: 1rem;
}
.parte1 , .parte2{
    display: inline-block;
    text-align: justify;
    margin-bottom: 1rem;
}
