<div>
<h1>Hard and Soft skill</h1>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="90"
            [imageSrc]="'../../../assets/iconos/html.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="90"
            [imageSrc]="'../../../assets/iconos/CSS.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="90"
            [imageSrc]="'../../../assets/iconos/js.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="90"
            [imageSrc]="'../../../assets/iconos/eng.png'"
            [showImage]="true"
            [imageWidth]="90"
            [imageHeight]="90"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="90"
            [imageSrc]="'../../../assets/iconos/git.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="90"
            [imageSrc]="'../../../assets/iconos/grupal.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
</div>
       
</div>
