<div class="row1">

    <img src="../../../assets/APLogo.png" id="logoAP" class="img-fluid" alt="Logo de Argentina Programa">

    <div class="row1">
        <a href=""><img src="../../../assets/linkedin.png" class="img-fluid" id="linkedin" alt=""></a>
        <a href=""><img src="../../../assets/twitter.png" class="img-fluid" id="twitter" alt=""></a>
        <a href=""><img src="../../../assets/instagram.png" class="img-fluid" id="instagram" alt=""></a>
        <a href=""><img src="../../../assets/github.png" class="img-fluid" id="github" alt=""></a>
        <a href=""><img src="../../../assets/facebook.png" class="img-fluid" id="facebook" alt=""></a>
        <button type="button" class="btn btn-success btn-lg" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-success btn-lg" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
</div>