<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Educacion 1</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat 
                    dolorum officia, dignissimos rem, illum totam quia culpa nesciunt 
                    blanditiis facere neque voluptas maiores tempora impedit aliquam, 
                    sed amet debitis aliquid.
                </p>
            </li>
            <li>
                <h2>Educacion 2</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat 
                    dolorum officia, dignissimos rem, illum totam quia culpa nesciunt 
                    blanditiis facere neque voluptas maiores tempora impedit aliquam, 
                    sed amet debitis aliquid.
                </p>
            </li>
            <li>
                <h2>Educacion 3</h2> - <h3>(años)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat 
                    dolorum officia, dignissimos rem, illum totam quia culpa nesciunt 
                    blanditiis facere neque voluptas maiores tempora impedit aliquam, 
                    sed amet debitis aliquid.
                </p>
            </li>
        </ul>
    </div>
</div>
